.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding-left: 15%;
    text-align: center;
}

.logo img {
    width: 67px;
}

nav {
    width: 100%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

li {
    padding-left: 30px;
}

h1, h2, h3, h4, p, button {
    font-family: 'Montserrat', sans-serif;
}

.heroSection {
    margin: auto;
    background-color: black;
    max-width: 100%;
}

.heroImg {
    display: flex;
    margin: auto;
    width: 900px;
}


.sdnImg {
    width: 300px;
}

footer {
    padding: 20px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

h3 {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: white;
}

.pHeroImg {
    color: white;
}


.workGrid button {
    margin: auto;
}

.workGrid {
    display: grid;
    grid-template-columns: 315px 585px;
    grid-auto-rows: 315px;
    grid-gap: 20px;
    grid-template-areas: 
    "project1 project1Img"
    "project2 project2Img"
    "project3 project3Img";
    max-width: 900px;
    margin: auto;
}


.rowItem .gridArea {
    grid-area: projectArea;
}

.projectDescription {
    height: 300px;
}

.gridContainerItem2, .gridContainerItem4, .gridContainerItem6 {
    height: 300px;
}

.gridContainerItem1 {
    grid-area: project1;
}

.gridContainerItem2 {
    grid-area: project1Img;
}

.gridContainerItem3 {
    grid-area: project2;
}

.gridContainerItem4 {
    grid-area: project2Img;
}

.gridContainerItem5 {
    grid-area: project3;
}

.gridContainerItem6 {
    grid-area: project3Img;
}

.gridContainerItem1 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.gridContainerItem3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.gridContainerItem5 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (max-width: 600px) {
    .heroImg {
        padding-left: 20px;
        width: 100%;
        margin: auto;
    }

    .workGrid {
        display: grid;
        grid-template-columns: 315px;
        grid-auto-rows: 315px;
        grid-gap: 20px;
        grid-template-areas: 
        "project1"
        "project1Img"
        "project2"
        "project2Img"
        "project3"
        "project3Img";
        max-width: 900px;
        margin: auto;
    }

    .gridContainerItem1, .gridContainerItem3, .gridContainerItem5 {
        width: 500px;
    }


}

.subscriptionSaver {
    height: 315px;
    width: 585px;
    border-radius: 15px;
}

.PWPImg {
    height: 315x;
    width: 585px;
    border-radius: 15px;
    outline: lightgrey solid;
}

.travelGuide {
    height: 315px;
    width: 585px;
    border-radius: 15px;
}

.viewAllProject {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 280px;
    height: 20px;
}
