.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding-left: 15%;
    text-align: center;
}

.logo img {
    width: 67px;
}

nav {
    width: 100%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

li {
    padding-left: 30px;
}

h1, h2, h3, h4, p, button {
    font-family: 'Montserrat', sans-serif;
}

.experiences {
    max-width: 900px;
    margin: auto;
}

.aboutSDN {
    display: grid;
    grid-template-columns: 440px 440px;
    grid-auto-rows: 315px;
    grid-gap: 20px;
    grid-template-areas: 
    "project1 project1Img"
    width: 900px;   
}

.aboutSDN img {
    width: 300px;
    border-radius: 50%;
    border: 18px solid #F69A7E;

}

.recent {
    text-align: left;
}



.resume {
    display: block;
    flex-direction: column;
}

.flex {
    display: flex;
    padding: 10px;
    

}

.gridContainer {
    display: grid;
    grid-template-columns: 440px 440px;
    padding: 20px;
    margin: auto;
    max-width: 900px;
}

h3 {
    margin: auto;
    max-width: 900px;
}

.skillCard {
    padding: 20px;

    width 33%
}

.icon {
    width: 150px;
    height: 150px;
    padding: 10px
}
